In [1]:
# Create an array using the method 1. array 2. arange 3. linspace
import numpy as np
a = np.array([[34,56],[56,76]])
a_arange = np.arange(3)
a_linspace = np.linspace(10,5,5)

print('Array using np.array: {}'.format(a))
print('Array using np.arange : {}'.format(a_arange))
print('Array using np.linspace : {}'.format(a_linspace))

Array using np.array: [[34 56]
 [56 76]]
Array using np.arange : [0 1 2]
Array using np.linspace : [10.    8.75  7.5   6.25  5.  ]

In [2]:
#Identify the shape and dimensions of an array

a = np.array([[2,3],[3,4],[4,5],[89,78]])
# Shape of the array
print('Shape of the array is: {}'.format(a.shape))
print('Dimensions of array is: {}'.format(a.ndim))
print('Length of the array is: {}'.format(len(a)))

Shape of the array is: (4, 2)
Dimensions of array is: 2
Length of the array is: 4

In [3]:
#Replace the values which are multiples of 5 by -1 using fancy indexing in [1,5,10,4,15,20,7,35]
a = np.array([1,5,10,4,15,20,7,35])
mask = (a%5 == 0)
a[mask] = -1
print('Replacing the values which are multiples of 5 by -1 using fancy indexing are: {}'.format(a))

Replacing the values which are multiples of 5 by -1 using fancy indexing are: [ 1 -1 -1  4 -1 -1  7 -1]

In [4]:
# Create a array and find out the sum of the elements
# Single Dim array
sing_dim = np.array([12,34,45,57])
# Sum of the elements
print('Sum of elements in single dimension array is: {}'.format(np.sum(sing_dim)))

# Two Dimension array
two_dim = np.array([[2,3],[3,4],[4,5],[89,78]])
# Sum of the elements in the array
print('Sum of elements in two dimension array is: {}'.format(np.sum(two_dim,axis = 0)))

Sum of elements in single dimension array is: 148
Sum of elements in two dimension array is: [98 90]

In [5]:
# Reshape an array np.array([1, 2, 3, 4], ndmin=2) using ravel and identify the shape, dimensions and write your conclusions
# This is a two dimensional array
a = np.array([1, 2, 3, 4], ndmin=2) 
print('The given array is: {}'.format(a))
print('The shape of given array is: {}'.format(a.shape))
print('The dimensions of given array is: {}'.format(a.ndim))
print()
# Changing it to one dimensional array using ravel
new_a = a.ravel()
# find out the new array, its shape, dimensions
print('Changed array: ')
print('The new array is: {}'.format(new_a))
print('The shape of the new array is: {}'.format(new_a.shape))
print('The dimensions of new array is: {}'.format(new_a.ndim))
print()
print('Conclusion: ravel method is used to reshape the array.\nSyntax is: numpy.ravel(a, order= C) where it returns a contiguous flattened array \nThere are other orders like A,F or K which can be used depending on the business case')

The given array is: [[1 2 3 4]]
The shape of given array is: (1, 4)
The dimensions of given array is: 2

Changed array:
The new array is: [1 2 3 4]
The shape of the new array is: (4,)
The dimensions of new array is: 1

Conclusion: ravel method is used to reshape the array.
Syntax is: numpy.ravel(a, order= C) where it returns a contiguous flattened array
There are other orders like A,F or K which can be used depending on the business case

In [6]:
# How to remove from one array those items that exist in another? a = np.array([1, 2, 3, 4, 5]) b = np.array([5, 6, 3, 1, 4])
a = np.array([1, 2, 3, 4, 5])
b = np.array([5, 6, 3, 1, 4])

# Remove from a those elements that exists in b and display a.
# We will use np.isin method to achive this
mask = np.isin(a,b)
print('The unique elements in a are: {}'.format(a[~mask]))

The unique elements in a are: [2]

In [ ]:
# Pandas

In [7]:
# How to combine two series into a dict 
import pandas as pd
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz')) 
ser2 = pd.Series(np.arange(26))
print('combining two series into a dictionary, we get:\n {}'.format(dict(zip(ser1,ser2))))

combining two series into a dictionary, we get:
 {'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [10]:
# How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
a = pd.Series(np.random.normal(10, 5, 25))
# print('The values generated in the series are:\n {}'.format(a))
# print('Minimum value of the series is : {}'.format(a.min()))
value = a.describe()
print('The values are shown below: ')
value

The values are shown below:

count    25.000000
mean     11.145509
std       4.366402
min       3.576613
25%       7.798002
50%      11.206973
75%      14.021489
max      18.686886
dtype: float64

In [9]:
#  How to convert a numpy array to a dataframe of given shape? 
a = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame({'Value':a})
df

    Value
0       6
1       4
2       7
3       6
4       6
5       8
6       8
7       4
8       3
9       9
10      6
11      5
12      3
13      5
14      3
15      4
16      1
17      2
18      2
19      3
20      5
21      1
22      8
23      7
24      5
25      9
26      6
27      9
28      7
29      8
30      5
31      6
32      5
33      5
34      6

In [11]:
# How to calculate the number of characters in each word in a series?
series = pd.Series(['how', 'to', 'kick', 'ass?'])
count = 0
while count < len(series):
    print('Length of the letter {} in index {} is: {}'.format(series[count],count,len(series[count])))
    count = count + 1

Length of the letter how in index 0 is: 3
Length of the letter to in index 1 is: 2
Length of the letter kick in index 2 is: 4
Length of the letter ass? in index 3 is: 4

In [12]:
# Import csv file using pd.read_csv method, Use the weather_data.csv from the pandas folder
weather_data = pd.read_csv("weather_data.csv")
weather_data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
# Obtain the columns, index and shape of the above data frame.
print('the content of the weather data in terms of cloumns and index is :\n{}'.format(weather_data))
print('\nShape of the data frame is : {}'.format(weather_data.shape))

the content of the weather data in terms of cloumns and index is :
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

Shape of the data frame is : (6, 4)

In [14]:
# Use describe method on the dataframe and write your conclusion
weather_data.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [15]:
# Conclusion:
print('Pandas describe() is used to view some basic statistical details like percentile, mean, std etc.\nof a data frame or a series of numeric values')

Pandas describe() is used to view some basic statistical details like percentile, mean, std etc.
of a data frame or a series of numeric values